<section class="hero">
  <h1 class="hero-title">
    QueenFurni <br>
    <span>Elegance</span> in <span>Every</span> Corner
  </h1>
  <p class = "hero-description">Hadirkan kenyamanan dan keindahan melalui koleksi furniture premium pilihan.</p>
  <a href="#" class="hero-btn">Lihat Katalog</a>
</section>

<section class="product">
  <h2>Produk Kami</h2>
  <div class="grid">
    <div class="card">
      <h3>Sofa Luxury</h3>
      <img src="/image/sofa.jpg" alt="Sofa">
      <p>Sofa premium dengan desain elegan dan nyaman untuk ruang tamu modern.</p>
    </div>

    <div class="card">
      <h3>Meja Kayu minimalis</h3>
      <img src="/image/meja.jpg" alt="Meja Kayu">
      <p>Meja kayu berkualitas dengan tampilan minimalis dan modern.</p>
    </div>

    <div class="card">
      <h3>Kursi Santai</h3>
      <img src="/image/kursi.jpg" alt="Kursi Santai">
      <p>Kursi ergonomis untuk bersantai dengan desain aesthetic.</p>
    </div>
  </div>
</section>

<section class="product">
  <div class="grid">
    <div class="card">
      <h3>Lemari Modern</h3>
      <img src="/image/lemari2.jpg" alt="Lemari Modern">
      <p>Lemari multifungsi dengan kapasitas besar dan desain elegan.</p>
    </div>

    <div class="card">
      <h3>Rak Dekorasi</h3>
      <img src="/image/rak.jpg" alt="Rak Dekorasi">
      <p>Rak stylish untuk menyimpan dan mempercantik ruangan Anda.</p>
    </div>

    <div class="card">
      <h3>Meja Makan Premium</h3>
      <img src="/image/meja-makan.jpg" alt="Meja Makan Premium">
      <p>Set meja makan modern untuk menciptakan suasana hangat keluarga.</p>
    </div>
  </div>
</section>

<section class="about">
  <h2>Kenapa Memilih QueenFurrni?</h2>
  <div class="about-grid">

    <div class="about-card">
      <i class="fa-solid fa-couch"></i>
      <h3>Desain Modern</h3>
      <p>Furniture aesthetic dengan gaya minimalis modern.</p>
    </div>

    <div class="about-card">
      <i class="fa-solid fa-gem"></i>
      <h3>Premium Quality</h3>
      <p>Menggunakan material berkualitas dan tahan lama.</p>
    </div>

    <div class="about-card">
      <i class="fa-solid fa-truck"></i>
      <h3>Fast Delivery</h3>
      <p>Pengiriman cepat dan aman ke seluruh Indonesia.</p>
    </div>

  </div>
</section>

<section class="testimonial">
  <h2 class="testimonial-title">
   Cerita dari Pelanggan Kami
  </h2>
  <div class="testimonial-container">
    <div class="testimonial-item">
      <div class="quote">
        <i class="fa-solid fa-quote-left"></i>
      </div>
      <p>
        Furniture-nya beneran bikin ruang tamu jadi lebih mewah
        dan nyaman dipandang.
      </p>
      <div class="customer">
         <img src="/image/pelanggan/amanda.jpg" alt="Amanda">
        <h4>Amanda</h4>
        <span>Interior Enthusiast</span>
      </div>
    </div>

    <div class="testimonial-item">
      <div class="quote">
        <i class="fa-solid fa-quote-left"></i>
      </div>
      <p>
        Desainnya modern banget, cocok buat rumah minimalis
        dan kualitasnya juga premium.
      </p>
      <div class="customer">
        <img src="/image/pelanggan/rizky.jpg" alt="Rizky">
        <h4>Rizky</h4>
        <span>Happy Customer</span>
      </div>
    </div>

    <div class="testimonial-item">
      <div class="quote">
        <i class="fa-solid fa-quote-left"></i>
      </div>
      <p>
        Desainnya Sangat Aesthetic dan kualitasnya juga premium.
        Saya sangat menyukainya!!!!
      </p>
      <div class="customer">
        <img src="/image/pelanggan/ghantari.jpg" alt="Ghantari">
        <h4>Ghantari</h4>
        <span>Aesthetic Interior Enthusiast</span>
      </div>
    </div>

  </div>

</section>

