<section class="hero">
  <h1 class="hero-title">
    QueenFurni <br>
    <span>Elegance</span> in <span>Every</span> Corner
  </h1>
  <p class = "hero-description">Hadirkan kenyamanan dan keindahan melalui koleksi furniture premium pilihan.</p>
  <a href="/katalog" class="hero-btn">Lihat Katalog</a>
</section>

<section class="product">

  <h2>Produk Kami</h2>

  <div class="grid">

    {{HOME_PRODUCTS}}

  </div>

</section>


<section class="about">
  <h2>Kenapa Memilih QueenFurrni?</h2>
  <div class="about-grid">

    <div class="about-card">
      <i class="fa-solid fa-couch"></i>
      <h3>Desain Modern</h3>
      <p>Furniture aesthetic dengan gaya minimalis modern.</p>
    </div>

    <div class="about-card">
      <i class="fa-solid fa-gem"></i>
      <h3>Premium Quality</h3>
      <p>Menggunakan material berkualitas dan tahan lama.</p>
    </div>

    <div class="about-card">
      <i class="fa-solid fa-truck"></i>
      <h3>Fast Delivery</h3>
      <p>Pengiriman cepat dan aman ke seluruh Indonesia.</p>
    </div>

  </div>
</section>

<section class="testimonial">
  <h2 class="testimonial-title">
   Cerita dari Pelanggan Kami
  </h2>
  <div class="testimonial-container">
    <div class="testimonial-item">
      <div class="quote">
        <i class="fa-solid fa-quote-left"></i>
      </div>
      <p>
        Furniture-nya beneran bikin ruang tamu jadi lebih mewah
        dan nyaman dipandang.
      </p>
      <div class="customer">
         <img src="/image/pelanggan/amanda.jpg" alt="Amanda">
        <h4>Amanda</h4>
        <span>Interior Enthusiast</span>
      </div>
    </div>

    <div class="testimonial-item">
      <div class="quote">
        <i class="fa-solid fa-quote-left"></i>
      </div>
      <p>
        Desainnya modern banget, cocok buat rumah minimalis
        dan kualitasnya juga premium.
      </p>
      <div class="customer">
        <img src="/image/pelanggan/rizky.jpg" alt="Rizky">
        <h4>Rizky</h4>
        <span>Happy Customer</span>
      </div>
    </div>

    <div class="testimonial-item">
      <div class="quote">
        <i class="fa-solid fa-quote-left"></i>
      </div>
      <p>
        Desainnya Sangat Aesthetic dan kualitasnya juga premium.
        Saya sangat menyukainya!!!!
      </p>
      <div class="customer">
        <img src="/image/pelanggan/ghantari.jpg" alt="Ghantari">
        <h4>Ghantari</h4>
        <span>Aesthetic Interior Enthusiast</span>
      </div>
    </div>

    <div class="testimonial-item">
      <div class="quote">
        <i class="fa-solid fa-quote-left"></i>
      </div>
      <p>
        Desainnya Sangat Elegant dan sangat modern. 
        Tidak diragukan lagi kualitasnya sangat bagus. Kerenn!!
      </p>
      <div class="customer">
        <img src="/image/pelanggan/antonio.jpg" alt="Antonio">
        <h4>Antonio</h4>
        <span>Good Customer</span>
      </div>
    </div>

  </div>

</section>

