<section class="search-section">
  <div class="search-box">
    <input
      type="text"
      id="searchInput"
      placeholder="Cari furniture impian Anda..."
    >
    <button id="searchBtn">
      <i class="fa-solid fa-magnifying-glass"></i>
      Cari
    </button>
  </div>

</section>
<!-- CATEGORY -->
<section class="category-section">
  <div class="category-list">
    <button class="category-btn active" data-filter="all">
      <i class="fa-solid fa-border-all"></i>
      Semua
    </button>

    <button class="category-btn" data-filter="sofa">
        <i class="fa-solid fa-couch"></i> sofa
    </button>

    <button class="category-btn" data-filter="kursi">
      <i class="fa-solid fa-chair"></i>
      Kursi
    </button>

    <button class="category-btn" data-filter="meja">
      <i class="fa-solid fa-table"></i>
      Meja
    </button>

    <button class="category-btn" data-filter="lemari">
      <i class="fa-solid fa-box-open"></i>
      Lemari
    </button>

    <button class="category-btn" data-filter="rak">
      <i class="fa-solid fa-layer-group"></i>
      Rak
    </button>

     <button class="category-btn" data-filter="tempat-tidur">
      <i class="fa-solid fa-layer-group"></i>
      Tempat Tidur
    </button>

    <button class="category-btn" data-filter="lampu-tidur">
      <i class="fa-solid fa-layer-group"></i>
      Lampu Tidur
    </button>
  </div>

</section>

<!-- PRODUK -->
<section class="catalog">
  <div class="catalog-grid">

    <!-- CARD -->
    <div class="catalog-card" data-category="sofa">
      <div class="catalog-image">
        <img src="/image/sofa.jpg" alt="sofa Luxury">
      </div>
  
      <!-- ICON MATA -->
    <a href="/view/detail/detail-sofa-luxury-modern" class="view-btn">
      <i class="fa-solid fa-eye"></i>
    </a>

      <div class="catalog-content">
        <span class="catalog-category">sofa</span>

        <h3>Sofa Luxury Modern</h3>

        <p>
          Sofa premium dengan desain elegant untuk ruang tamu modern.
        </p>

        <div class="catalog-bottom">
          <h4>Rp 8.500.000</h4>
         <a href="/add-to-cart?product=Sofa-Luxury-Modern" class="cart-btn">
         <i class="fa-solid fa-cart-plus"></i>
        </a>
        </div>
      </div>
    </div>

    <!-- CARD -->
    <div class="catalog-card" data-category="meja">
      <div class="catalog-image">
        <img src="/image/meja.jpg" alt="Meja">
      </div>

  <!-- ICON MATA -->
    <a href="/view/detail/detail-meja-kayu-minimalis" class="view-btn">
      <i class="fa-solid fa-eye"></i>
    </a>

      <div class="catalog-content">
        <span class="catalog-category">Meja</span>

        <h3>Meja Kayu Minimalis</h3>

        <p>
          Meja aesthetic dengan sentuhan kayu premium modern.
        </p>

        <div class="catalog-bottom">
          <h4>Rp 4.200.000</h4>
          <a href="/add-to-cart?product=Meja-Kayu-Minimalis" class="cart-btn">
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- CARD -->
    <div class="catalog-card" data-category="kursi">
      <div class="catalog-image">
        <img src="/image/kursi.jpg" alt="Kursi">
      </div>

      <!-- ICON MATA -->
    <a href="/view/detail/detail-kursi-santai-premium" class="view-btn">
      <i class="fa-solid fa-eye"></i>
    </a>

      <div class="catalog-content">
        <span class="catalog-category">Kursi</span>

        <h3>Kursi Santai Premium</h3>

        <p>
          Kursi ergonomis dengan desain aesthetic dan nyaman.
        </p>

        <div class="catalog-bottom">
          <h4>Rp 2.800.000</h4>
          <a href="/add-to-cart?product=Kursi-Santai-Premium" class="cart-btn">
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- CARD -->
    <div class="catalog-card" data-category="lemari">
      <div class="catalog-image">
        <img src="/image/lemari2.jpg" alt="Lemari">
      </div>

       <!-- ICON MATA -->
    <a href="/view/detail/detail-lemari-modern" class="view-btn">
      <i class="fa-solid fa-eye"></i>
    </a>

      <div class="catalog-content">
        <span class="catalog-category">Lemari</span>

        <h3>Lemari Modern</h3>

        <p>
          Lemari multifungsi dengan kapasitas besar dan elegan.
        </p>

        <div class="catalog-bottom">
          <h4>Rp 7.300.000</h4>
          <a href="/add-to-cart?product=Lemari-Modern" class="cart-btn">
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- CARD -->
    <div class="catalog-card" data-category="rak">
      <div class="catalog-image">
        <img src="/image/rak.jpg" alt="Rak">
      </div>

      <!-- ICON MATA -->
    <a href="/view/detail/detail-rak-dekorasi" class="view-btn">
      <i class="fa-solid fa-eye"></i>
    </a>

      <div class="catalog-content">
        <span class="catalog-category">Rak</span>

        <h3>Rak Dekorasi</h3>

        <p>
          Rak modern untuk dekorasi ruangan agar lebih aesthetic.
        </p>

        <div class="catalog-bottom">
          <h4>Rp 1.900.000</h4>
          <a href="/add-to-cart?product=Rak-Dekorasi" class="cart-btn">
            <i class="fa-solid fa-cart-plus"></i>
        </a>
        </div>
      </div>
    </div>

    <!-- CARD -->
    <div class="catalog-card" data-category="meja">
      <div class="catalog-image">
        <img src="/image/meja-makan.jpg" alt="Meja Makan">
      </div>

      <!-- ICON MATA -->
    <a href="/view/detail/detail-meja-makan-premium" class="view-btn">
      <i class="fa-solid fa-eye"></i>
    </a>

      <div class="catalog-content">
        <span class="catalog-category">Meja Makan</span>

        <h3>Meja Makan Premium</h3>

        <p>
          Set meja makan modern dengan nuansa mewah dan hangat.
        </p>

        <div class="catalog-bottom">
          <h4>Rp 9.700.000</h4>
          <a href="/add-to-cart?product=Meja-Makan-Premium" class="cart-btn">
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- CARD -->
    <div class="catalog-card" data-category="tempat-tidur">
      <div class="catalog-image">
        <img src="/image/Tempat-Tidur.jpg" alt="Tempat Tidur">
      </div>

       <!-- ICON MATA -->
    <a href="/view/detail/detail-tempat-tidur-nyaman" class="view-btn">
      <i class="fa-solid fa-eye"></i>
    </a>

      <div class="catalog-content">
        <span class="catalog-category">Tempat Tidur</span>

        <h3>Tempat Tidur Nyaman</h3>

        <p>
          Nikmati kenyamanan tidur anda dengan Tempat Tidur yang Nyaman.
        </p>

        <div class="catalog-bottom">
          <h4>Rp 15.900.000</h4>
          <a href="/add-to-cart?product=Tempat-Tidur-Nyaman" class="cart-btn">
            <i class="fa-solid fa-cart-plus"></i>
        </a>
        </div>
      </div>
    </div>

    <!-- CARD -->
    <div class="catalog-card" data-category="rak">
      <div class="catalog-image">
        <img src="/image/rak2.jpg" alt="Rak">
      </div>

       <!-- ICON MATA -->
    <a href="/view/detail/detail-rak-dekorasi-classic" class="view-btn">
      <i class="fa-solid fa-eye"></i>
    </a>

      <div class="catalog-content">
        <span class="catalog-category">Rak</span>

        <h3>Rak Dekorasi Clasic</h3>

        <p>
          Rak dekorasi dengan desain klasik agar ruangan semakin aesthetic
        </p>

        <div class="catalog-bottom">
          <h4>Rp 1.900.000</h4>
          <a href="/add-to-cart?product=Rak-Dekorasi-Classic" class="cart-btn">
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- CARD -->
    <div class="catalog-card" data-category="lampu-tidur">
      <div class="catalog-image">
        <img src="/image/Lampu-Tidur.jpg" alt="Lampu Tidur">
      </div>

      <!-- ICON MATA -->
    <a href="/view/detail/detail-lampu-tidur-modern" class="view-btn">
      <i class="fa-solid fa-eye"></i>
    </a>

      <div class="catalog-content">
        <span class="catalog-category">Lampu Tidur</span>

        <h3>Lampu Tidur Modern</h3>

        <p>
          Lampu tidur dengan desain modern dan nyaman
        </p>

        <div class="catalog-bottom">
          <h4> Rp900.000</h4>
          <a href="/add-to-cart?product=Lampu-Tidur-Modern" class="cart-btn">
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- CARD -->
    <div class="catalog-card" data-category="lampu-tidur">
      <div class="catalog-image">
        <img src="/image/Lampu-Tidur2.jpg" alt="Lampu Tidur">
      </div>

       <!-- ICON MATA -->
    <a href="/view/detail/detail-lampu-tidur-classic" class="view-btn">
      <i class="fa-solid fa-eye"></i>
    </a>

      <div class="catalog-content">
        <span class="catalog-category">Lampu Tidur</span>

        <h3>Lampu Tidur Classic</h3>

        <p>
          Lampu tidur dengan desain classic untuk suasana tidur yang lebih nyaman
        </p>

        <div class="catalog-bottom">
          <h4> Rp700.000</h4>
          <a href="/add-to-cart?product=Lampu-Tidur-Classic" class="cart-btn">
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- CARD -->
        <div class="catalog-card" data-category="kursi">
        <div class="catalog-image">
            <img src="/image/kursi2.jpg" alt="Kursi">
        </div>

        <!-- ICON MATA -->
    <a href="/view/detail/detail-kursi-classic" class="view-btn">
      <i class="fa-solid fa-eye"></i>
    </a>

        <div class="catalog-content">
            <span class="catalog-category">Kursi Classic</span>

            <h3>Kursi Classic</h3>

            <p>
            Kursi dengan desain klasik untuk suasana ruangan yang lebih nyaman
            </p>

            <div class="catalog-bottom">
            <h4> Rp1.000.000</h4>
            <a href="/add-to-cart?product=Kursi-Classic" class="cart-btn">
                <i class="fa-solid fa-cart-plus"></i>
            </a>
            </div>
        </div>
        </div>



  </div>

</section>

<!-- SCRIPT WAJIB DI BAWAH -->
<script>
const buttons = document.querySelectorAll(".category-btn");
const cards = document.querySelectorAll(".catalog-card");

buttons.forEach(btn => {
  btn.addEventListener("click", () => {

    const filter = btn.getAttribute("data-filter");

    buttons.forEach(b => b.classList.remove("active"));
    btn.classList.add("active");

    cards.forEach(card => {
      const category = card.getAttribute("data-category");

      if (filter === "all" || filter === category) {
        card.style.display = "block";
      } else {
        card.style.display = "none";
      }
    });

  });
});


/* SEARCH PRODUCT */
const searchInput = document.getElementById("searchInput");
const searchBtn = document.getElementById("searchBtn");

searchBtn.addEventListener("click", () => {

  const keyword = searchInput.value.toLowerCase();

  cards.forEach(card => {

    const title = card
      .querySelector("h3")
      .textContent
      .toLowerCase();

    if (title.includes(keyword)) {
      card.style.display = "block";
    } else {
      card.style.display = "none";
    }

  });

});
</script>