body {
  margin: 0;
  font-family:'Poppins', sans-serif;
  background: #f5f5f5;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* ini penting biar sejajar tengah */
  padding: 15px 40px;
  background: #644704;
  color: white;
}

/* LOGO */
.logo {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

/* ICON */
.logo i{
  font-size: 22px;
}

/* efek hover logo */
.logo:hover {
  color: #ffcc70;
  transition: 0.3s;
}

/* MENU */
.navbar ul {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

/* hover underline keren */
.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #ffcc70;
  transition: 0.3s;
}

.navbar a:hover::after {
  width: 100%;
}

/* HERO */
.hero {
  text-align: center;
  padding: 200px;

  /* overlay transparan */
  background:
    linear-gradient(rgba(0, 0, 0, 0.2) ,rgba(0,0,0,0.6)),
    url("/image/furniture3.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
}

/* HERO TITLE */
.hero-title{
   font-style:italic;
  font-size:70px;
  font-weight:700;
  letter-spacing:2px;
}

.hero-title span{
  color: #ffcc70;
}

/* HERO TEXT */
.hero-description{
  font-size:22px;
  font-weight:300;
}

.hero-btn{
  display:inline-block;
  margin-top:25px;
  padding:14px 32px;
  background:#ffcc70;
  color:#222;
  text-decoration:none;
  border-radius:40px;
  font-weight:600;
  transition:0.3s;
}

.hero-btn:hover{
  transform:translateY(-3px);
}

/* PRODUCT */
.product {
  padding: 40px 80px;
  text-align: center;
}

/* GRID */
.grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* CARD */
.card {
  background: white;
  padding: 30px;
  width: 320px; /* diperlebar */
  border-radius: 18px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  transition: 0.3s;
}

/* CARD */
.card{
  position: relative;
  overflow: hidden;
}

/*TOMBOL MATA*/
.home-view-btn{
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 55px;
  height: 55px;

  border-radius: 50%;

  background: white;
  color: #222;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  font-size: 18px;

  opacity: 0;

  transition: 0.3s;
}

/* HOVER */
.card:hover .home-view-btn{
  opacity: 1;
}

/* EFEK */
.home-view-btn:hover{
  background:#ffcc70;
  transform: translate(-50%, -50%) scale(1.1);
}
.card img{
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 14px;
  display: block;
  margin: 15px 0;
}

/* EFEK HOVER */
.card:hover {
  transform: translateY(-5px);
}

/*BAGIAN ABOUT*/
.about{
  padding:80px;
  text-align:center;

  background:
    linear-gradient(rgba(123, 95, 8, 0.75)),
    url("/image/about-bg.jpg");

  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;

  color:rgb(0, 0, 0);
}

.about-grid{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
}

.about-card{
  background:white;
  width:280px;
  padding:30px;
  border-radius:20px;
  box-shadow:0 4px 15px rgba(0,0,0,0.08);
}

.about-card i{
  font-size:40px;
  color:#644704;
  margin-bottom:15px;
}

/* TESTIMONIAL */
.testimonial{
  padding:100px 80px;
  background:#f9f7f3;
  text-align:center;
}

.testimonial-title{
  font-size:42px;
  margin-bottom:60px;
  color:#222;
}

/* CONTAINER */
.testimonial-container{
  display:flex;
  justify-content:center;
  gap:40px;
  flex-wrap:wrap;
}

/* ITEM */
.testimonial-item{
  max-width:420px;
  text-align:left;
}

/* QUOTE ICON */
.quote i{
  font-size:42px;
  color:#ffcc70;
  margin-bottom:20px;
}

/* TEXT */
.testimonial-item p{
  font-size:20px;
  line-height:1.8;
  color:#444;
  margin-bottom:25px;
}

/* CUSTOMER */
.customer{
  display:flex;
  align-items:center;
  gap:15px;
  margin-top:25px;
}

/* FOTO CUSTOMER */
.customer img{
  width:60px;
  height:60px;
  border-radius:50%;
  object-fit:cover;
  border:3px solid #ffcc70;
}

.customer h4{
  margin:0;
  font-size:20px;
  color:#111;
}

.customer span{
  color:#777;
  font-size:14px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #644704;
  color: white;
}


/*BAGIAN KATALOG------------------------------------------------------------------------------------------*/
/* SEARCH SECTION */
.search-section{
  padding:60px 20px 30px;
  background:#f8f5ef;
}

/* SEARCH BOX */
.search-box{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:15px;
  flex-wrap:wrap;
}

.search-box input{
  width:500px;
  max-width:90%;
  padding:18px 24px;
  border:none;
  border-radius:50px;
  outline:none;

  font-family:'Poppins', sans-serif;
  font-size:16px;

  background:white;

  box-shadow:0 8px 20px rgba(0,0,0,0.08);
}

.search-box button{
  border:none;
  padding:18px 28px;
  border-radius:50px;

  background:#644704;
  color:white;

  font-family:'Poppins', sans-serif;
  font-weight:600;
  font-size:15px;

  cursor:pointer;
  transition:0.3s;

  display:flex;
  align-items:center;
  gap:10px;
}

.search-box button:hover{
  background:#ffcc70;
  color:#222;
  transform:translateY(-3px);
}

/* CATEGORY */
.category-section{
  padding:50px 20px 20px;
  background:#f8f5ef;
}

.category-list{
  display:flex;
  justify-content:center;
  gap:18px;
  flex-wrap:wrap;
}

.category-btn{
  border:none;
  padding:14px 26px;
  border-radius:40px;
  background:white;
  font-family:'Poppins', sans-serif;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
  box-shadow:0 4px 12px rgba(0,0,0,0.08);

  display:flex;
  align-items:center;
  gap:10px;
}

.category-btn i{
  color:#644704;
}

.category-btn:hover{
  background:#644704;
  color:white;
  transform:translateY(-3px);
}

.category-btn:hover i{
  color:#ffcc70;
}

.category-btn.active{
  background:#644704;
  color:white;
}

.category-btn.active i{
  color:#ffcc70;
}

/* KATALOG */
.catalog{
  padding:70px 80px;
  background:#f8f5ef;
}

/* GRID */
.catalog-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(320px,1fr));
  gap:35px;
}

/* CARD */
.catalog-card{
  position:relative;
  background:white;
  border-radius:24px;
  overflow:hidden;
  transition:0.4s;
  box-shadow:0 8px 25px rgba(0,0,0,0.08);
}

.catalog-card:hover{
  transform:translateY(-8px);
}

/* IMAGE */
.catalog-image{
  position: relative;
  overflow:hidden;
}

.catalog-image img{
  width:100%;
  height:300px;
  object-fit:cover;
  transition:0.4s;
}

.catalog-card:hover img{
  transform:scale(1.08);
}

/* CONTENT */
.catalog-content{
  padding:28px;
}

.catalog-category{
  display:inline-block;
  background:#ffcc70;
  color:#222;
  padding:8px 16px;
  border-radius:30px;
  font-size:13px;
  font-weight:600;
  margin-bottom:18px;
}

.catalog-content h3{
  margin:0;
  font-size:28px;
  color:#222;
}

.catalog-content p{
  color:#666;
  line-height:1.8;
  margin:18px 0 25px;
}

/* BOTTOM */
.catalog-bottom{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.catalog-bottom h4{
  margin:0;
  color:#644704;
  font-size:24px;
}

.catalog-bottom a{
  text-decoration:none;
  background:#644704;
  color:white;
  padding:12px 24px;
  border-radius:40px;
  font-weight:600;
  transition:0.3s;
}

.catalog-bottom a:hover{
  background:#ffcc70;
  color:#222;
}

/* OVERLAY GELAP */
.catalog-image::after{
  content:"";
  position:absolute;
  inset:0;

  background:rgba(0,0,0,0.45);

  opacity:0;
  transition:0.4s;
}

/* SAAT HOVER */
.catalog-card:hover .catalog-image::after{
  opacity:1;
}

/* ICON MATA */
.view-btn{
  position:absolute;

  top:22%;
  left:50%;

  transform:translate(-50%, -50%);

  width:60px;
  height:60px;

  border-radius:50%;

  background:white;
  color:#222;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:22px;

  text-decoration:none;

  opacity:0;
  z-index:2;

  transition:0.4s;
}

/* MUNCUL SAAT HOVER */
.catalog-card:hover .view-btn{
  opacity:1;
}

/*KATALOG DETAIL PRODUK SOFA LUXURY MODERN*/
/* DETAIL PRODUCT */

.detail-product{
  padding: 100px 10%;
  background: #f5f5f5;
}

.detail-container{
  display: flex;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
}

.detail-image{
  flex: 1;
}

.detail-image img{
  width: 90%;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.detail-content{
  flex: 1;
}

.detail-category{
  display:inline-block;
  background:#ffcc70;
  color:#222;
  padding:8px 16px;
  border-radius:30px;
  font-size:13px;
  font-weight:600;
  margin-bottom:18px;
}

.detail-content h1{
  font-size: clamp(50px, 6vw, 80px);
  margin-top: 20px;
}

.detail-content h2{
  font-size: clamp(20px, 4vw, 32px);
  color: #644704;
  margin: 15px 0;
}

.detail-desc{
  line-height: 1.8;
  color: #555;
  margin-bottom: 30px;
}

.detail-info{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.info-box{
  background: white;
  padding: 15px 20px;
  border-radius: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.detail-buttons{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.buy-btn{
  background: #644704;
  color: rgb(255, 255, 255);
  padding: 15px 25px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;

  transition: 0.3s;
}

.buy-btn:hover{
  background: #ffcc70;
  color: #222;
}

.back-btn{
  background: #222;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.buy-btn:hover,
.back-btn:hover{
  opacity: 0.8;
}

/* RESPONSIVE */
@media(max-width:768px){

  .detail-content h1{
    font-size: 32px;
  }

  .detail-content h2{
    font-size: 28px;
  }

}

/* CART MODERN------------------------------------------*/

.cart-page{
    padding:100px 8%;
    background:#f8f5ef;
    min-height:100vh;
}

.cart-header{
    text-align:center;
    margin-bottom:50px;
}

.cart-header h1{
    font-size:48px;
    color:#222;
    margin-bottom:10px;
}

.cart-header p{
    color:#777;
    font-size:16px;
}

.cart-container{
    display:grid;
    grid-template-columns:3fr 1fr;
    gap:35px;
}

.cart-products{
    display:flex;
    flex-direction:column;
    gap:25px;
}

.cart-item{
    background:#fff;
    border-radius:24px;
    padding:25px 30px;
    display:flex;
    align-items:center;
    gap:30px;
    min-height:180px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    transition:.3s;
}

.cart-item:hover{
    transform:translateY(-4px);
}

.cart-image{
    width:170px;
    height:170px;
    object-fit:cover;
    border-radius:18px;
}

.cart-detail{
    flex:1;
}

.cart-detail h3{
    margin:0;
    font-size:24px;
    color:#222;
}

.cart-price{
    margin:15px 0 25px;
    font-size:20px;
    font-weight:700;
    color:#644704;
}

.cart-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.qty-box{
    display:flex;
    align-items:center;
    gap:10px;
}

.qty-btn{
    width:40px;
    height:40px;
    border-radius:50%;
    background:#644704;
    color:#fff;
    text-decoration:none;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    font-weight:bold;
}

.qty-btn:hover{
    background:#ffcc70;
    color:#222;
}

.remove-btn{
    width:50px;
    height:50px;

    border-radius:50%;

    background:#fff0f0;
    color:#e53935;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:22px;

    transition:.3s;
}

.remove-btn:hover{
    background:#e53935;
    color:#fff;
}

.cart-summary{
    background:#fff;
    border-radius:20px;
    padding:30px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
    height:fit-content;
}

.cart-summary h2{
    margin-bottom:20px;
}

.summary-row{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
    font-size:18px;
}

.checkout-btn{
    display:block;
    width:94%;
    text-align:center;
    padding:15px;
    background:#644704;
    color:rgb(255, 255, 255);
    border-radius:10px;
    text-decoration:none;
    margin-bottom:15px;
}
.continue-btn{
  display:block;
    width:94%;
    text-align:center;
    padding:15px;
    background:#1d9519;
    color:#ffffff;
    border-radius:10px;
    text-decoration:none;
    margin-bottom:15px;
}

.clear-btn{
    display:block;
    width:94%;
    text-align:center;
    padding:15px;
    background:#e53935;
    color:white;
    border-radius:10px;
    text-decoration:none;
}

.empty-cart{
    background:#fff;
    padding:60px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

.empty-cart i{
    font-size:70px;
    color:#ffcc70;
    margin-bottom:20px;
}

.empty-cart h2{
    margin-bottom:10px;
}

.empty-btn{
    display:inline-block;
    margin-top:20px;
    background:#644704;
    color:white;
    padding:14px 28px;
    border-radius:10px;
    text-decoration:none;
}

@media(max-width:900px){

    .cart-container{
        grid-template-columns:1fr;
    }

    .cart-item{
        flex-direction:column;
        text-align:center;
    }

    .cart-bottom{
        flex-direction:column;
        gap:15px;
    }

    .cart-header h1{
        font-size:36px;
    }
}

/* Halaman kontak ---------------------------------*/

.contact-hero{
    padding:50px 10% 70px;
    text-align:center;
    background:#efe9df;
}

.contact-hero h1{
    font-size:56px;
    color:#222;
    margin-bottom:15px;
}

.contact-hero p{
    max-width:700px;
    margin:auto;
    color:#666;
    line-height:1.8;
    font-size:18px;
}

.contact-container{
    padding:80px 10%;
    display:grid;
    grid-template-columns:1fr 1.2fr;
    gap:50px;
    background:white;
}

.contact-info,
.contact-form{
    background:white;
    padding:40px;
    border-radius:25px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.contact-info h2,
.contact-form h2{
    margin-bottom:30px;
    color:#222;
}

.info-item{
    display:flex;
    gap:20px;
    margin-bottom:30px;
}

.info-item i{
    width:55px;
    height:55px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    background:#644704;
    color:white;
    font-size:20px;
}

.info-item h4{
    margin-bottom:5px;
    color:#222;
}

.info-item p{
    color:#666;
}

.contact-form form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:15px;
    border:1px solid #ddd;
    border-radius:12px;
    outline:none;
    font-size:15px;
}

.contact-form input:focus,
.contact-form textarea:focus{
    border-color:#222;
}

.contact-form button{
    padding:15px;
    border:none;
    background:#644704;
    color:white;
    font-size:16px;
    border-radius:12px;
    cursor:pointer;
    transition:.3s;
}

.contact-form button:hover{
    transform:translateY(-3px);
}

.contact-banner{
    text-align:center;
    padding:30px 10%;
    background:#222;
    color:white;
    
}

.contact-banner h2{
  font-style:italic;
  font-size:50px;
  font-weight:700;
  letter-spacing:1px;
   margin:0;
}

.contact-banner p{
    letter-spacing:3px;
    color:#ddd;
    font-style:italic;
     margin:0;
}

.contact-banner span{
  color: #ffcc70;
  font-style:italic;
}

/* RESPONSIVE */

@media(max-width:900px){

    .contact-container{
        grid-template-columns:1fr;
    }

    .contact-hero h1{
        font-size:42px;
    }

}
